dash_bootstrap_components==1.5.0
numpy==2.1.3
pandas==2.2.3
dash_extensions==1.0.20
plotly_resampler @ git+https://github.com/predict-idlab/plotly-resampler.git@5eaded34da2c60ca15836f8559690b32a11ec014
scipy==1.15.2
protobuf==4.25.2
odrive==0.6.8
pyarrow>==19.0.1
trace-updater==0.0.9.1
